@model IEnumerable<Book>

<h3 class="p-2 bg-primary text-white text-center">Seed data</h3>

<form method="post">
    <div class="form-group">
        <label>Number of Objects to Create</label>
        <input class="form-control" name="count" value="50" />
    </div>

    <div class="text-center">
        <button type="submit" asp-action="CreateBookData" class="btn btn-outline-primary">Book Seed</button>
        <button type="submit" asp-action="CreateSeedData" class="btn btn-primary">Seed Database</button>
        <button asp-action="ClearData" class="btn btn-danger">Clear Database</button>
    </div>
</form>

<h5 class="text-center m-2">There are @ViewBag.Count books in the database</h5>

<div class="container-fluid">
    <div class="row">
        <div class="col-1 font-weight-bold">Id</div>
        <div class="col font-weight-bold">Title</div>
        <div class="col font-weight-bold">Category</div>
        <div class="col font-weight-bold text-right">Price</div>
        <div class="col font-weight-bold text-right">Retail Price</div>
    </div>
    @foreach(Book b in Model)
    {
        <div class="row">
            <div class="col-1">@b.Id</div>
            <div class="col">@b.Title</div>
            <div class="col">@b.Category.Name</div>
            <div class="col text-right">@b.Price</div>
            <div class="col text-right">@b.RetailPrice</div>
        </div>
    }
</div>